div.application-progress-bar {
  background-color: rgba(115, 163, 212, 1);
  min-height: 75px;
  padding-right: 0px;
  padding-left:0px;
}

div.application-progression-bar {
  height: 90px;
  border-radius: 0px;
  margin-bottom: 0px;
}

div.application-deadline {
  background-color: rgba(74, 132, 192, 1);
  background: linear-gradient(to bottom, rgba(74, 132, 192, 1), rgba(12, 85, 161, 1) );
  color:white;
  min-height: 90px;
}

ul.application-deadline {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 5px;
  list-style-type: none;
}

div.application-progress {
  background-color: rgba(12, 85, 161, 1);
  background: linear-gradient(to bottom, rgba(9, 64, 122, 1), rgba(12, 85, 161, 1) );
  color:white;
  min-height: 650px;
  padding-left: 0px;
  padding-right: 0px;
}

ul.application-progress {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  list-style-type: none;
}

button.application-progress {
  border-radius: 0px;
  background-color: rgb(12, 85, 161);
}
div.application-content {
  background-color: white;
  color:black;
  padding-top: 15px;
  min-height: 650px;
}