nav.navigation {
  background-color: rgb(12, 85, 161);
  background: linear-gradient(to bottom, rgba(12, 85, 161, 1), rgba(9, 64, 122, 1));
  color:white;
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid #0A284C;
  border-radius:0px;
  padding-right: 15px;
}
ul.navigation {
  min-width: 300px;
  padding: 10px 10px;
}

li.navigation {
  padding-top: 15px;
}
span.navigation-user {
  background-color: #4CAD4C;
}
a, a:hover, a:focus, a:visited {
  color:white;
}

button.logout {
  margin-top: 0px;
}

.btn-block + .btn-block {
  margin-top: 0px;
}
/* Override bootstrap */
.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-brand:hover {
  color:white;
}

.navbar-default .navbar-nav > li > a {
    color:white;
}

.navbar-default .navbar-nav > .active > a {
  color:white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle {
    border:0px;
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
    border-radius: 0px;
    color: white;
}

.navbar-default .navbar-toggle:focus {
    background-color: #4A84C0;
}

.navbar-default .navbar-toggle:hover {
    background-color: #4A84C0;
}