
.homepage-header {
  background-color: rgba(74, 132, 192, 1);
  color:white;
  margin-left: -10px;
  margin-right: -7.7px;
  border-radius: 0px;
}
.homepage-content {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  color: black;
}

/* bootstrap override */
.container-fluid .jumbotron {
  border-radius: 0px;
}
