ul.footer-links {
  width:30%;
  float: right;
  padding-left: 0px;
  display: inline-block;
  list-style: none;
}
li.footer-links {
  float: right;
  display: block;
  margin-right: 10px;
}
footer.footer {
  position:fixed;
  bottom:0;
  width: 100%;
}
div.footer {
  padding-top: 10px;
  border-top: 1px solid #0A284C;
  background-color: rgba(9, 64, 122, 1);
  background: linear-gradient(to bottom, rgba(12, 85, 161, 1), rgba(9, 64, 122, 1));
  color: rgb(232,232,232);
}