ul.footer-links {
  width:30%;
  float: right;
  display: inline-block;
  list-style: none;
}
li.footer-links {
  float: right;
  display: block;
  margin-right: 5px;
}
div.footer {
  padding-top: 10px;
  background-color: rgba(9, 64, 122, 1);
  color: rgb(232,232,232);
}